<h1>Editing Providers Opening Time</h1>

<%= render 'form', providers_opening_time: @providers_opening_time %>

<%= link_to 'Show', @providers_opening_time %> |
<%= link_to 'Back', providers_opening_times_path %>
