<h1>Editing Providers Bank Detail</h1>

<%= render 'form', providers_bank_detail: @providers_bank_detail %>

<%= link_to 'Show', @providers_bank_detail %> |
<%= link_to 'Back', providers_bank_details_path %>
