<%= render 'layouts/backend_admins/_backend_header' %>
<div class="container-fluid">
    <div class="row">
        <%= render 'layouts/backend_admins/_sidebar' %>
        <%= render 'form', providers_branch: @providers_branch %>
    </div>
</div>
<%= render 'layouts/backend_admins/_footer' %>
