<br><br>
<footer class="footer navbar-fixed-bottom">
    <div class="container">

        <ul class="list-inline" style="float:right;">
            <li>Terms and Privacy</li>
            <li>Site Map</li>
            <li>
                <i class="fa fa-facebook"></i>
            </li>
            <li>
                <i class="fa fa-twitter"></i>
            </li>
            <li>
                <i class="fa fa-instagram"></i>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>
