<div class="jumbotron" style="height: 284px; padding-top: 136px;background-image: url(/assets/header.jpg); margin:0px;">
      <div class="container">
        <center>
          <form class="form-inline">
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Cape Town, South Africa ">
            </div>

            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Start Date ">
            </div>

            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="End Date ">
            </div>

          </form>

            <%= button_to('Dashboard', {:action => 'create', :controller => '/backend_admins'},  method: :get, class: 'btn btn-default') %>
        </center>
      </div>
    </div>
