<!-- HOW IT WORKS -->
<section class="container-fluid" id="how_it_works" style="padding-top: 336px;">
  <div class="col-md-8 col-md-offset-2 box">
    <h2>How it works</h2>
    <hr class="light">
    <br>

    <div class="col-lg-3 col-md-6 " style="height: 250px;">
      <div class="step">
        <i class=" center_icon fa fa-user fa-3x" style="text-align: center;"></i>
      </div>

      <div class="step_details">
        <h4>1. Provide Trip Details</h4>
        <p>
          Enter the destination and dates of your trip. Optionally, you may register first and do this straight from your dash board.
        </p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 " style="height: 250px;">
      <div class="step">
        <i class=" center_icon fa fa-gavel fa-3x" style="text-align: center;"></i>
      </div>

      <div class="step_details">
        <h4>2. Bid or Browse</h4>
        <p>
          Select the activities you would like to partake in. Either browse priced activities or choose to have suppliers bid for your money.
        </p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 " style="height: 250px;">
      <div class="step">
        <i class=" center_icon fa fa-list-alt fa-3x" style="text-align: center;"></i>
      </div>

      <div class="step_details">
        <h4>3. Build you itenary</h4>
        <p>
          Build your itenary based on the step two. Chat with providers on your personalised dashbord.       </p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 " style="height: 250px;">
      <div class="step">
        <i class=" center_icon fa fa-magic fa-3x" style="text-align: center;"></i>
      </div>

      <div class="step_details">
        <h4>4. Enjoy your Trip</h4>
        <p>
          Pay for you trip 'basket'and enjoy your trip. edit it as you see fit.
        </p>
      </div>
    </div>


  </div>

  <div class="col-lg-10 col-lg-offset-1 text-center">
      <a href="#browse_activities" class="btn btn-primary btn-xl page-scroll">Sign Up</a>
      <a href="#browse_activities" class="btn btn-primary btn-xl page-scroll">Login</a>
  </div>

</section>
<!-- How it works-->

<!-- Recommended Activities -->
<br><br><br>
<section class="container-fluid" id="recommended_activities">
  <div class="col-md-8 col-md-offset-2 box">
    <h2>Recommended Activities</h2>
    <hr class="light">
    <br>

    <div class="row">
        <div class="col-sm-3">
          <div class="col-item">
            <div class="photo">
              <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
            </div>

            <div class="info">
              <div class="row">
                <div class="price col-md-12">
                  <h5>Bunjee Jumping in Cape Town</h5>
                  <h5 class="price-text-color">$199.99</h5>
                </div>
                <center>
                <div class="rating hidden-sm col-md-6">
                  <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star"></i><i class="fa fa-star"></i>
                </div>
              </center>
              </div>

              <div class="separator clear-left">
                <p class="btn-add">
                <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                <p class="btn-details">
                <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a></p>
              </div>

              <div class="clearfix">
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="col-item">
            <div class="photo">
              <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
            </div>

            <div class="info">
              <div class="row">
                <div class="price col-md-12">
                  <h5>Skate Boarding in Cape Town</h5>
                  <h5 class="price-text-color">$199.99</h5>
                </div>
                <center>
                <div class="rating hidden-sm col-md-6">
                  <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star"></i><i class="fa fa-star"></i>
                </div>
              </center>
              </div>

              <div class="separator clear-left">
                <p class="btn-add">
                <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                <p class="btn-details">
                <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a></p>
              </div>

              <div class="clearfix">
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="col-item">
            <div class="photo">
              <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
            </div>

            <div class="info">
              <div class="row">
                <div class="price col-md-12">
                  <h5>Kite Surfing in Cape Town</h5>
                  <h5 class="price-text-color">$199.99</h5>
                </div>
                <center>
                <div class="rating hidden-sm col-md-6">
                  <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star"></i><i class="fa fa-star"></i>
                </div>
              </center>
              </div>

              <div class="separator clear-left">
                <p class="btn-add">
                <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                <p class="btn-details">
                <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a></p>
              </div>

              <div class="clearfix">
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="col-item">
            <div class="photo">
              <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
            </div>

            <div class="info">
              <div class="row">
                <div class="price col-md-12">
                  <h5>Scuba Diving in Cape Town</h5>
                  <h5 class="price-text-color">$199.99</h5>
                </div>
                <center>
                <div class="rating hidden-sm col-md-6">
                  <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star"></i><i class="fa fa-star"></i>
                </div>
              </center>
              </div>

              <div class="separator clear-left">
                <p class="btn-add">
                <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a></p>
                <p class="btn-details">
                <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a></p>
              </div>

              <div class="clearfix">
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

</section>
<!-- Recommended Activities -->

<br><br><br>

<!-- Partnership Programme -->
<br><br><br>
<section class="container-fluid" id="how_it_works">
  <div class="col-md-8 col-md-offset-2 box">
    <h2>Partnership Programme</h2>
    <hr class="light">
    <br>

    <div class="col-lg-3 col-md-6 " style="height: 250px;">
      <div class="step">
        <i class=" center_icon fa fa-group fa-3x" style="text-align: center;"></i>
      </div>

      <div class="step_details">
        <h4>New Client Network</h4>
        <p>
          Enter the destination and dates of your trip. Optionally, you may register first and do this straight from your dash board.
        </p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 " style="height: 250px;">
      <div class="step">
        <i class=" center_icon fa fa-grav fa-3x" style="text-align: center;"></i>
      </div>

      <div class="step_details">
        <h4>Experiences</h4>
        <p>
          Select the activities you would like to partake in. Either browse priced activities or choose to have suppliers bid for your money.

        </p>    </div>
    </div>

    <div class="col-lg-3 col-md-6 " style="height: 250px;">
      <div class="step">
        <i class=" center_icon fa fa-optin-monster fa-3x" style="text-align: center;"></i>
      </div>

      <div class="step_details">
        <h4>Flexibility</h4>
        <p>
          Build your itenary based on the step two. Chat with providers on your personalised dashbord.</p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 " style="height: 250px;">
      <div class="step">
        <i class=" center_icon fa fa-life-bouy fa-3x" style="text-align: center;"></i>
      </div>

      <div class="step_details">
        <h4>Support</h4>
        <p>
          Pay for you trip 'basket'and enjoy your trip. edit it as you see fit.
        </p>
      </div>
    </div>

    <div class="col-lg-10 col-lg-offset-1 text-center">
        <a href="#browse_activities" class="btn btn-primary btn-xl page-scroll">Sign Up as a Partner</a>
        <a href="#browse_activities" class="btn btn-primary btn-xl page-scroll">Partner Login</a>
    </div>

  </div>

</section>
<!-- Partners-->
