<div class="jumbotron">
  <div class="container">
      <h1>Home#index</h1>
      <p>Find me in app/views/home/index.html.erb</p>
  </div>
</div>

<!-- HOW IT WORKS -->
<section class="container-fluid" id="how_it_works">
  <div class="col-md-8 col-md-offset-2 box">
    <h1>How it works</h1>
    <br>
    <div class="col-lg-3 col-md-6 " style="height: 357px;">
      <div class="step">
        <i class=" center_icon fa fa-user fa-3x" style="text-align: center;"></i>
      </div>

      <div class="step_details">
        <center><h4>1. Provide Trip Details</h4></center>
        <p>
          Enter the destination and dates of your trip. Optionally, you may register first and do this straight from your dash board.
        </p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 " style="height: 357px;">
      <div class="step">
        <i class=" center_icon fa fa-gavel fa-3x" style="text-align: center;"></i>
      </div>

      <div class="step_details">
        <center><h4>2. Bid or Browse</h4></center>
        <p>
          Select the activities you would like to partake in. Either browse priced activities or choose to have suppliers bid for your money.
        </p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 " style="height: 357px;">
      <div class="step">
        <i class=" center_icon fa fa-list-alt fa-3x" style="text-align: center;"></i>
      </div>

      <div class="step_details">
        <center><h4>3. Build you itenary</h4></center>
        <p>
          Build your itenary based on the step two. Chat with providers on your personalised dashbord.       </p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 " style="height: 357px;">
      <div class="step">
        <i class=" center_icon fa fa-magic fa-3o9ux" style="text-align: center;"></i>
      </div>

      <div class="step_details">
        <center><h4>4. Enjoy your Trip</h4></center>
        <p>
          Pay for you trip 'basket'and enjoy your trip. edit it as you see fit.
        </p>
      </div>
    </div>

  </div>

</section>
    <!-- End Services-->
