<div class="jumbotron">
  <div class="container">
      <h1>Home#index</h1>
      <p>Find me in app/views/home/index.html.erb</p>
  </div>
</div>

<!-- HOW IT WORKS -->
<section class="container-fluid">
<i class="fa fa-lock"></i>
    <div class="col-lg-3 col-md-6 col-sm-6 maxheight3" style="height: 357px;">
      <div class="step">
            <i class"badge fa fa-user"></i>
            <strong>Register</strong>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim</p>
        </div>
      </div>
    </div>
</section>
    <!-- End Services-->
