<%= render 'layouts/backend_admins/_backend_header' %>
<div class="container-fluid">
    <div class="row">
        <%= render 'layouts/backend_admins/_sidebar' %>
        <%= render 'form', address:  @address %>

    </div>
</div>
<%= render 'layouts/backend_admins/_footer' %>
