<section class="container-fluid" id="partnership">
    <div class="col-md-8 col-md-offset-2 box">
        <h2>Partnership Programme</h2>
        <hr class="light">
        <br>

        <div class="col-lg-3 col-md-6 " style="height: 250px;">
            <div class="step">
                <i class=" center_icon fa fa-group fa-3x" style="text-align: center;"></i>
            </div>

            <div class="step_details">
                <h4>New Client Network</h4>
                <p>
                    Enter the destination and dates of your trip. Optionally, you may register first and do this straight from your dash board.
                </p>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 " style="height: 250px;">
            <div class="step">
                <i class=" center_icon fa fa-grav fa-3x" style="text-align: center;"></i>
            </div>

            <div class="step_details">
                <h4>Experiences</h4>
                <p>
                    Select the activities you would like to partake in. Either browse priced activities or choose to have suppliers bid for your money.

                </p>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 " style="height: 250px;">
            <div class="step">
                <i class=" center_icon fa fa-optin-monster fa-3x" style="text-align: center;"></i>
            </div>

            <div class="step_details">
                <h4>Flexibility</h4>
                <p>
                    Build your itenary based on the step two. Chat with providers on your personalised dashbord.</p>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 " style="height: 250px;">
            <div class="step">
                <i class=" center_icon fa fa-life-bouy fa-3x" style="text-align: center;"></i>
            </div>

            <div class="step_details">
                <h4>Support</h4>
                <p>
                    Pay for you trip 'basket'and enjoy your trip. edit it as you see fit.
                </p>
            </div>
        </div>

        <div class="col-lg-10 col-lg-offset-1 text-center">
            <a href="#browse_activities" class="btn btn-primary btn-xl page-scroll">Sign Up as a Partner</a>
            <a href="#browse_activities" class="btn btn-primary btn-xl page-scroll">Partner Login</a>
        </div>

    </div>

</section>
