<section class="container-fluid" id="recommended_activities">
    <div class="col-md-8 col-md-offset-2 box">
        <h2>Recommended Activities</h2>
        <hr class="light">
        <br>

        <div class="row">
            <div class="col-sm-3">
                <div class="col-item">
                    <div class="photo">
                        <img src="http://placehold.it/350x260" class="img-responsive" alt="a"/>
                    </div>

                    <div class="info">
                        <div class="row">
                            <div class="price col-md-12">
                                <h5>Bunjee Jumping in Cape Town</h5>
                                <h5 class="price-text-color">$199.99</h5>
                            </div>
                            <center>
                                <div class="rating hidden-sm col-md-6">
                                    <i class="price-text-color fa fa-star"></i>
                                    <i class="price-text-color fa fa-star"></i>
                                    <i class="price-text-color fa fa-star"></i>
                                    <i class="price-text-color fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </center>
                        </div>

                        <div class="separator clear-left">
                            <p class="btn-add">
                                <i class="fa fa-shopping-cart"></i>
                                <a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a>
                            </p>
                            <p class="btn-details">
                                <i class="fa fa-list"></i>
                                <a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a>
                            </p>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="col-item">
                    <div class="photo">
                        <img src="http://placehold.it/350x260" class="img-responsive" alt="a"/>
                    </div>

                    <div class="info">
                        <div class="row">
                            <div class="price col-md-12">
                                <h5>Skate Boarding in Cape Town</h5>
                                <h5 class="price-text-color">$199.99</h5>
                            </div>
                            <center>
                                <div class="rating hidden-sm col-md-6">
                                    <i class="price-text-color fa fa-star"></i>
                                    <i class="price-text-color fa fa-star"></i>
                                    <i class="price-text-color fa fa-star"></i>
                                    <i class="price-text-color fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </center>
                        </div>

                        <div class="separator clear-left">
                            <p class="btn-add">
                                <i class="fa fa-shopping-cart"></i>
                                <a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a>
                            </p>
                            <p class="btn-details">
                                <i class="fa fa-list"></i>
                                <a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a>
                            </p>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="col-item">
                    <div class="photo">
                        <img src="http://placehold.it/350x260" class="img-responsive" alt="a"/>
                    </div>

                    <div class="info">
                        <div class="row">
                            <div class="price col-md-12">
                                <h5>Kite Surfing in Cape Town</h5>
                                <h5 class="price-text-color">$199.99</h5>
                            </div>
                            <center>
                                <div class="rating hidden-sm col-md-6">
                                    <i class="price-text-color fa fa-star"></i>
                                    <i class="price-text-color fa fa-star"></i>
                                    <i class="price-text-color fa fa-star"></i>
                                    <i class="price-text-color fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </center>
                        </div>

                        <div class="separator clear-left">
                            <p class="btn-add">
                                <i class="fa fa-shopping-cart"></i>
                                <a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a>
                            </p>
                            <p class="btn-details">
                                <i class="fa fa-list"></i>
                                <a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a>
                            </p>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="col-item">
                    <div class="photo">
                        <img src="http://placehold.it/350x260" class="img-responsive" alt="a"/>
                    </div>

                    <div class="info">
                        <div class="row">
                            <div class="price col-md-12">
                                <h5>Scuba Diving in Cape Town</h5>
                                <h5 class="price-text-color">$199.99</h5>
                            </div>
                            <center>
                                <div class="rating hidden-sm col-md-6">
                                    <i class="price-text-color fa fa-star"></i>
                                    <i class="price-text-color fa fa-star"></i>
                                    <i class="price-text-color fa fa-star"></i>
                                    <i class="price-text-color fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </center>
                        </div>

                        <div class="separator clear-left">
                            <p class="btn-add">
                                <i class="fa fa-shopping-cart"></i>
                                <a href="http://www.jquery2dotnet.com" class="hidden-sm">Add to cart</a>
                            </p>
                            <p class="btn-details">
                                <i class="fa fa-list"></i>
                                <a href="http://www.jquery2dotnet.com" class="hidden-sm">More details</a>
                            </p>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
