// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-default {
	background-color: white;
}

.box{
	background-color: #fff;
}

.menu{
	color: red;
	float: right;
	margin-top: 15px;
}

.logo{
	color:red;
	float:left;
}
.step {
	display: block;
   width: 140px;
   height: 140px;
   background: red;
   -moz-border-radius: 70px;
   -webkit-border-radius: 70px;
   border-radius: 70px;
	 color: white;
}

.step_details{
	text-align: justify;
}

.center_icon{
	margin-top: 51px;
}
