<%= render 'layouts/backend_admins/_backend_header' %>
<div class="container-fluid">
    <div class="row">
      <%= render 'layouts/backend_admins/_sidebar' %>
        <%= render 'layouts/categories/_show' %>
    </div>
</div>
<%= render 'layouts/backend_admins/_footer' %>
