<h1>Editing Providers Payment Type</h1>

<%= render 'form', providers_payment_type: @providers_payment_type %>

<%= link_to 'Show', @providers_payment_type %> |
<%= link_to 'Back', providers_payment_types_path %>
