<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @providers_payment_type.payment_type %>
</p>

<%= link_to 'Edit', edit_providers_payment_type_path(@providers_payment_type) %> |
<%= link_to 'Back', providers_payment_types_path %>
