<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active">
          <%= link_to('Dashboard', controller: '/activity') do %>
            <i class="fa fa-dashboard"></i> Dashboard
          <% end %>
        </li>
        <li>
          <%= link_to('activities', controller: '/activities#show') do %>
            <i class="fa fa-compass"></i>
            <span>Activities</span>
          <% end %>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-map-signs"></i>
                <span>Categories</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i>
                <span>Providers</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-users"></i>
                <span>Users</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-file-text-o"></i>
                <span>Settings</span>
            </a>
        </li>
    </ul>
</div>
