<!DOCTYPE html>
<html>
  <head>
    <title>Itenarator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="logo">
          <h4><strong>Chillz and Thrillz</strong></h4>
        </div>

        <div class="menu">
          <ul class="list-inline">
            <li>Become a Partner</li>
            <li>Login</li>
            <li>Sign Up</li>
            <li>Help</li>
          </ul>
        </div>
      </div>


    </nav>

    <center>
      <%= yield %>
    </center>


    <br><br>
    <footer class="footer navbar-fixed-bottom">
      <div class="container">

        <ul class="list-inline" style="float:right;">
          <li>Terms and Privacy</li>
          <li>Site Map</li>
          <li>
            <i class="fa fa-facebook"></i>
          </li>
          <li>
            <i class="fa fa-twitter"></i>
          </li>
          <li>
            <i class="fa fa-instagram"></i>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
