<!DOCTYPE html>
<html>
  <head>
    <title>Itenarator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="logo">
          <h4><strong>jumzado</strong></h4>
        </div>

        <div class="menu">
          <ul class="list-inline">
            <li>Become a Partner</li>
            <li>Login</li>
            <li>Sign Up</li>
            <li>Help</li>
          </ul>
        </div>
      </div>
    </nav>

    <center>
      <%= yield %>
    </center>
  </body>
</html>
